<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CDAppleDefaultAvailability</key>
	<dict>
		<key>FioriThemeManager</key>
		<array>
			<dict>
				<key>name</key>
				<string>iOS</string>
				<key>version</key>
				<string>15.0</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
