name: XCFrameworks

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Branch to build from'
        default: 'main'
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: macos-11
    env:
      DEVELOPER_DIR: /Applications/Xcode_13.0.app/Contents/Developer

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.inputs.ref }}
    - run: brew install xcodegen
    - name: Create FioriSwiftUI.xcodeproj through Xcode and project.yml
      run: cd .xcodegen && xcodegen generate
    - name: Create XCFrameworks
      run: cd .xcodegen && set -o pipefail && xcodebuild -project FioriSwiftUI.xcodeproj -scheme buildBinaryFramework | xcpretty
    - run: cd .xcodegen && cd XCFramework && ls
    - run: rm -R .xcodegen/XCFramework/iphoneos
    - run: rm -R .xcodegen/XCFramework/iphonesimulator
    - run: rm -R .xcodegen/XCFramework/maccatalyst
    - run: cd .xcodegen && cd XCFramework && ls
    - name: Store XCFrameworks
      uses: actions/upload-artifact@v1
      with:
        name: FioriSwiftUI
        path: .xcodegen/XCFramework
